$fa-font-path: "/webfonts";

// colors
$warning: #FFDC03;
$dark: #3E3E3E;
$blue: #1BA0E2;
$primary: #0064D2;
$primary-dark: #0770CD;
$light: #ced4da;
$light-dark: #dee2e6;
$gray: #F6F6F6;
$red: tomato;
$orange: #F28C3D;
$orange-dark: #cf844b;
$secondary: #35405a;
