@import 'variables';

@import '~bootstrap';


@font-face {
  font-family: "museo";
  src: url("/fonts/MuseoSans/MuseoSans-100.ttf") format("truetype");
  font-style: 'normal';
  font-weight: 'normal';
}

@font-face {
  font-family: "museo";
  src: url("/fonts/MuseoSans/MuseoSans-500.ttf") format("truetype");
  font-style: 'normal';
  font-weight: 'bold';
}

* {
  font-family: "museo" !important;
}

.form-group {
  margin-bottom: .6rem;
}
.bg {
  &-white {
    background-color: white;
  }
  &-gray {
    background-color: $gray;
  }
}
.is-link {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


button, p, h1, h2, h3, h4, h5, h6  {
  color: $dark !important;
}
.text {
  &-dark {
    color: $dark !important;
  }
}

.border {
  &-ligth-dark {
    border-color: $light-dark;
  }

  &-none {
    border-width: 0;
  }
}

.flex {
  &-1 {
    flex: 1;
  }
}

.alert {
  margin: 0;
  &-b {
    border-width: 0;
    border-bottom-width: 2px;

    &-blue {
      border-color: $blue;
    }

    &-2 {
      border-width: 0;
      border-bottom-width: 3px;
    }
  }

  &-warning {
    background-color: $warning;
    color: $dark !important;
  }

  &-sm {
    padding: .5rem;
    font-size: .95rem;
  }

  &-radiusless {
    border-radius: 0;
  }
}